@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  will-change: transform;
}

@media (max-width: 640px) {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

.animate-scroll:hover {
  animation-play-state: paused;
}
